= form_with model: form, url: sessions_path, data: { turbo: false } do |f|
  %div.form-group
    = f.label :user_id, 'ユーザーID'
    = f.text_field :user_id

  %div.form-group
    = f.label :password, 'パスワード'
    = f.password_field :password

  %div
    = f.submit 'ログインする'
